.container-fluid {
  background-color: rgb(247, 201, 61);
}
.navbar-brand {
  letter-spacing: 3px;
}
.row h2 span {
  color: rgb(24, 109, 237);
}

img {
  width: 100%;
  height: 92vh;
  opacity: 1;
}

.absolute {
  background-color: white;
  color: rgb(216, 247, 94);
}
